<div class="marquee-container">
  <div class="marquee-content">
    @for (topcard of topcards; track topcard) {
    <div class="marquee-item">
      <mat-card class="shadow-none text-center mb-0! bg-light-{{ topcard.color }}">
        <mat-card-content>
          <img [src]="topcard.img" alt="{{ topcard.title }}" width="40" class="mx-auto w-auto" />
          <h4 class="text-sm font-semibold text-{{ topcard.color }} mt-2!">
            {{ topcard.title }}
          </h4>
          <h6 class="text-xl font-semibold text-{{ topcard.color }} mt-2!">
            {{ topcard.subtitle }}
          </h6>
        </mat-card-content>
      </mat-card>
    </div>
    }

    <!-- duplicate for seamless loop -->
    @for (topcard of topcards; track topcard) {
    <div class="marquee-item">
      <mat-card class="shadow-none text-center mb-0! bg-light-{{ topcard.color }}">
        <mat-card-content>
          <img [src]="topcard.img" alt="{{ topcard.title }}" width="40" class="mx-auto w-auto" />
          <h4 class="text-sm font-semibold text-{{ topcard.color }} mt-2!">
            {{ topcard.title }}
          </h4>
          <h6 class="text-xl font-semibold text-{{ topcard.color }} mt-2!">
            {{ topcard.subtitle }}
          </h6>
        </mat-card-content>
      </mat-card>
    </div>
    }
  </div>
</div>