<div class="hs-dropdown [--strategy:absolute] [--adaptive:none] sm:[--trigger:hover] sm:relative group/menu">
    <a id="hs-dropdown-hover-event-notification"
        class="relative hs-dropdown-toggle h-10 w-10 text-link dark:text-darklink cursor-pointer hover:bg-lightprimary  hover:text-primary dark:hover:bg-darkprimary flex justify-center items-center rounded-full group-hover/menu:bg-lightprimary group-hover/menu:text-primary">
        <iconify-icon icon="solar:bell-linear" class="text-xl relative z-1"></iconify-icon>
        <div
            class="absolute inline-flex items-center justify-center  text-white text-[11px] font-medium  bg-primary p-[5px] rounded-full -top-[-5px] right-1">
        </div>
    </a>
    <div class="card hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 right-0 rtl:right-auto rtl:left-0 mt-2 min-w-max top-auto w-full sm:w-[360px] hidden z-2"
        aria-labelledby="hs-dropdown-hover-event-notification">
        <div class="flex items-center py-3 px-6 justify-between">

            <h3 class="mb-0 card-title">
                Notifications</h3>
        </div>
        <div class="message-body max-h-[300px]" data-simplebar="">
            <a href="javascript:void(0)" class="group flex items-center px-6 py-2 hover:bg-lightprimary">

                <div>
                    <h5 class="text-sm group-hover:text-primary">
                        Roman Joined the Team!
                    </h5>
                    <span class="text-xs">Congratulate him</span>
                </div>
            </a>
            <a href="javascript:void(0)" class="group flex items-center px-6 py-2 hover:bg-lightprimary">

                <div>
                    <h5 class="text-sm group-hover:text-primary">
                        New message
                    </h5>
                    <span class="text-xs">Salma sent you new message</span>
                </div>
            </a>
            <a href="javascript:void(0)" class="group flex items-center px-6 py-2 hover:bg-lightprimary">

                <div>
                    <h5 class="text-sm group-hover:text-primary">
                        Bianca sent payment
                    </h5>
                    <span class="text-xs">Check your earnings</span>
                </div>
            </a>
            <a href="javascript:void(0)" class="group flex items-center px-6 py-2 hover:bg-lightprimary">

                <div>
                    <h5 class="text-sm group-hover:text-primary">
                        Jolly completed tasks
                    </h5>
                    <span class="text-xs">Assign her new tasks</span>
                </div>
            </a>
            <a href="javascript:void(0)" class="group flex items-center px-6 py-2 hover:bg-lightprimary">

                <div>
                    <h5 class="text-sm group-hover:text-primary">
                        John received payment
                    </h5>
                    <span class="text-xs">$230 deducted from account</span>
                </div>
            </a>
        </div>
    </div>
</div> 