@use "../variables" as *;

// marquee
.marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.marquee-content {
    display: flex;
    width: max-content;
    animation: marquee 25s linear infinite;
    gap: 0;
}

.marquee-item {
    flex: 0 0 calc(100% / 13);
    /* only 6 visible at once */
    padding: 0 12px;
    box-sizing: border-box;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Optional: smooth scroll pause on hover */
.marquee-container:hover .marquee-content {
    animation-play-state: paused;
}

.timeline {
    .timeline-item {
        .point {
            .timeline-badge {

                &.border-primary {
                    border: 2px solid var(--mat-sys-primary) !important;
                }

                &.border-accent {
                    border: 2px solid var(--mat-sys-secondary) !important;
                }

                &.border-success {
                    border: 2px solid $success !important;
                }

                &.border-warning {
                    border: 2px solid $warning !important;
                }

                &.border-error {
                    border: 2px solid var(--mat-sys-error) !important;
                }
            }
        }

        &:last-child {
            .timeline-border {
                display: none !important;
            }
        }

        &:last-child {
            height: auto;
        }
    }
}