<mat-card class="shadow-none mb-0! bg-light-secondary px-6 py-3">
  <div class="flex justify-between items-center">
    <div class="flex gap-3">
      <img src="/assets/images/profile/user-1.jpg" alt="users" width="50" height="50"
        class="rounded-full overflow-hidden" />
      <div>
        <mat-card-title>Welcome back! John 👋</mat-card-title>
        <mat-card-subtitle>Check your reports</mat-card-subtitle>
      </div>
    </div>
    <div class="hidden lg:block">
      <img src="/assets/images/backgrounds/customer-support-img.png" alt="customer-support-img"
        class="img-fluid mb-[-12px]" />
    </div>
  </div>
</mat-card>